button {
  margin: 50px;
}

/*
.colorear {
  background: pink;
}
*/

body {
	background: #444;
}

.slider {
	max-width: 300px;
	margin: auto;
	background: rgba(255,255,255,0.5);
}

img {
	width: 200px;
	margin: auto;
	margin-top: 100px;
}


hr {
	margin-top: 50px;
	margin-bottom: 50px;
}
