.ba-slider {
	width: 500px;
	margin: auto;
	border: 5px solid #000;
}


body {
	background: #ddd;
}


h1 {
	text-align: center;
	font-size: 72px;
	color: #444;
	font-family: Verdana, Arial, sans-serif;
}
