button {
  margin: 50px;
}

/*
.colorear {
  background: pink;
}
*/

body {
	background: #444;
}

.slider {
	max-width: 300px;
	margin: auto;
}

img {
	width: 200px;
	height: 200px;
	margin: auto;
}

