.cookie-message {
  width: 200px;
  /*position: relative;*/
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  background: #111 url(cookie.png) 240px 30px no-repeat;
  margin-left: 15px;
}


.cookie-message p {
  color: #FFF;
  font-size: 12px;
}


.cookie-message a {
  color: red
}
