.cookie-message {
  width: 200px;
  /*position: relative;*/
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  background: #111 url(http://download.seaicons.com/icons/psdblast/flat-christmas/48/gingerbread-man-cookie-icon.png) 230px 20px no-repeat;
 
}


.cookie-message p {
  color: #FFF;
  font-size: 12px;
}


.cookie-message a {
  color: red
}
