img {
  display: block;
  margin: auto;
  width: 500px;
}


figcaption {
  color: #333;
  font-family: Verdana, sans-serif;
  font-size: 20px;
}

section {
background-color: red;
  width: 80%;
  display: block;
  margin: auto;
}

body {
  background: #eee;
}

