.chart {
  width: 600px;
  height: 400px;
  margin: auto;
}


h1 {
  font-family: Verdana, Arial, sans-serif;
  color: white;
  background: #F4C63D;;
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  position: absolute;
  top: 0;
}


#chart .ct-series-c line,   // puntos
#chart .ct-series-c path {  // línea
  stroke: #0F0;
}

