.selectize-control {
  font-family: 'Open Sans';
}

.selectize-input .item {
  background: linear-gradient(#F5A9BC, #F6CEE3)!important;
  border: 1px solid #F6CEE3!important;
  color: #444!important;
  border-radius: 5px;
}
