
[data-accordion] {
  border: 1px solid #888;
  margin: 2px;
  cursor: pointer;
}
[data-control] {
  background: #CCC;
  padding: 5px;  
}



/* Decoración */
.accordion [data-control]::before {
  content: '⊞ ';
  color: #888;
}
.accordion.open [data-control]::before {
  content: '⊟ ';
  color: #444;
}
