h1 {
  font-family: Verdana, Arial, sans-serif;
  color: white;
  background: #F4C63D;
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
}


h2 {
  font-family: Verdana, Arial, sans-serif;
  color: white;
  background: #8CC9D2;
  margin-bottom: 30px;
  text-align: center;
  font-size: 25px;
}

.step {
  border: 1px solid black;
  width: 300px;
}

